@media  screen and (max-width: 760px) {
   
header {
    flex-direction: column;
}

main {
    flex-direction: column;
}

h2 {
    font-size: 2.1rem;
}

img {
    display: none;
}

ul {
    align-items: center;
}

.beneficios {
    margin: 0 auto;
}
}